body
{
        background-color:#FFFFFF;
}

#nav
{
        height:26px;
        border-bottom:2px solid #ccc;
        list-style:none;
}

#nav li
{
        float:left;
        font-size:14px;
}

#nav li a
{
        color:#03b;
        text-decoration:none;
        display:block;
        width:88px;
        height:19px;
        text-align:center;
        background:url(bg.gif) no-repeat;
        margin-left:8px;
        padding-top:6px;
}

#nav li a:hover
{
        font-weight:bold;
}

#nav li a#current
{
        background:url(cur.gif) no-repeat;
        color:#666;
        font-weight:bold;
        height:20px;
}