<!DOCTYPE html>
<html>
<head>
    <title>diagram</title>
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/site_media/css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <ul id="nav">
            <li><a href="/" id="current">首 页</a></li>
            <li><a href="/boxoffice/" >查看</a></li>
            <li><a href="/spider/" >爬虫</a></li>
            <li><a href="/diagram/" >走势拟合图表</a></li>
    </ul>

    <h1 align="center">DIAGRAM</h1>
    <a class="btn btn-large btn-primary" href="/">返回首页</a>
    <p><img src="/site_media/images/total.png"/></p>
    <p><img src="/site_media/images/week.png"/></p>

</body>
</html>