<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Data</title>
<script type="text/javascript" src="/site_media/js/d3.v3.js"></script>
<script type="text/javascript" src="/site_media/js/databind0.js"></script>
</head>
<body>
<div>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
</div>
<input type="button" value="绑定数据" onclick="bindData()"/>
<p>
	鼠标右键审查元素，查看本页html的元素，然后点击按钮，查看元素的变化
</p>
</body>
</html>
